include doc_base
.container
    .row
        .cmap-spacer-large
        .col-xs-offset-1.col-xs-10.col-md-offset-2.col-md-8
            .col-xs-12
                object(data="img/data.svg" type="image/svg+xml" class="svg-img-small")
            h2.col-xs-12.text-center Data

    //- coming soon
    .col-xs-offset-1.col-xs-10.col-md-offset-2.col-md-8.text-center
        p Coming soon.  Bear with us while we build out our documentation. Thanks!
