doctype html
html(lang="en")
    head
        title CPW
        link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        link(rel='stylesheet', href='http://cmap.github.io/barista/barista.main.min.css')
        link(rel='stylesheet', href='css/CLUE.css')

        script(src='http://localhost:35729/livereload.js')
    body
        //- opening content
        .row
            .col-xs-12.hero.hidden-xs
                .row
                    .cmap-spacer-large
                    .col-sm-offset-1.col-sm-3
                        object.text-center(data="img/c3.svg" type="image/svg+xml" class="svg-img-large")
                    .col-sm-8.col-xs-12
                        p.intro.col-sm-offset-0.col-xs-offset-1.col-xs-10 Connectivity Map data and tools at your fingertips.
                        p.col-sm-offset-0.col-xs-offset-1.col-xs-10 Welcome to your CLUE Private Workspace (CPW). This CPW is a virtual compute environment tuned for analytics leveraging the Broad Connectivity Map dataset and tools
                .cmap-spacer-large
        // - Quickstart
        .row
            .cmap-spacer-large
            a.col-xs-offset-1.col-xs-10.col-md-offset-2.col-md-8.card.plain_link(href="/quickstart")
                .cmap-spacer-large
                .col-xs-12
                    object(data="img/quickstart.svg" type="image/svg+xml" class="svg-img-small")
                h2.col-xs-12.text-center Quick Start
                p Your CPW is already set up with standard Connectivity Map tools and data so that you can start your analyses right away. Follow this quick start guide to get flavor of what CLUE can do.
        // - Share
        .row
            a.col-xs-offset-1.col-xs-10.col-md-offset-2.col-md-8.card.plain_link(href="/share")
                .cmap-spacer-large
                .col-xs-12
                    object(data="img/share.svg" type="image/svg+xml" class="svg-img-small")
                h2.col-xs-12.text-center Share
                p Once you have run a few analyses on your CPW, you'll want to share your work with others. Your CPW comes is set up to share results over web.

        //- data
        .row
            a.col-xs-offset-1.col-xs-10.col-md-offset-2.col-md-8.card.plain_link(href="/data")
                .col-xs-12
                    .cmap-spacer-large
                    object(data="img/data.svg" type="image/svg+xml" class="svg-img-small")
                h2.col-xs-12.text-center Data
                p Want to know exactly where all of the raw data files are located on your CLUE instance? Have questions about data formats? This section is for you.
        //
            //- Code
            .row
                .col-xs-offset-1.col-xs-10.col-md-offset-2.col-md-8.card
                    a.plain_link(href="/code")
                        .col-xs-12
                            .cmap-spacer-large
                            object(data="img/code.svg" type="image/svg+xml" class="svg-img-small")
                        h2.col-xs-12.text-center Code
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, nam impedit explicabo labore voluptatem. Reiciendis provident at numquam beatae, sit sed quis. Provident autem totam harum fugit odit! Non nemo, laudantium ipsam. Enim ipsa deleniti molestiae beatae et in provident vero similique harum expedita reiciendis, tempora corrupti maiores animi, assumenda quae? Ab illo pariatur obcaecati rem voluptate ex vel, delectus, non! Deleniti reprehenderit quisquam voluptatem cupiditate labore a odit cum nobis esse placeat porro quia repellat sint, in, dolor molestiae. Ipsum similique eligendi quod aut magni ex laboriosam possimus porro ut pariatur, molestias omnis, est, odit voluptate dicta dolorem reprehenderit.

            //- tools
            .row
                .col-xs-offset-1.col-xs-10.col-md-offset-2.col-md-8.card
                    a.plain_link(href="/tools")
                        .col-xs-12
                            .cmap-spacer-large
                            object(data="img/tools.svg" type="image/svg+xml" class="svg-img-small")
                        h2.col-xs-12.text-center Tools
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, nam impedit explicabo labore voluptatem. Reiciendis provident at numquam beatae, sit sed quis. Provident autem totam harum fugit odit! Non nemo, laudantium ipsam. Enim ipsa deleniti molestiae beatae et in provident vero similique harum expedita reiciendis, tempora corrupti maiores animi, assumenda quae? Ab illo pariatur obcaecati rem voluptate ex vel, delectus, non! Deleniti reprehenderit quisquam voluptatem cupiditate labore a odit cum nobis esse placeat porro quia repellat sint, in, dolor molestiae. Ipsum similique eligendi quod aut magni ex laboriosam possimus porro ut pariatur, molestias omnis, est, odit voluptate dicta dolorem reprehenderit.

            //- learn
            .row
                .col-xs-offset-1.col-xs-10.col-md-offset-2.col-md-8.card
                    a.plain_link(href="/learn")
                        .col-xs-12
                            .cmap-spacer-large
                            object(data="img/learn.svg" type="image/svg+xml" class="svg-img-small")
                        h2.col-xs-12.text-center Learn
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, nam impedit explicabo labore voluptatem. Reiciendis provident at numquam beatae, sit sed quis. Provident autem totam harum fugit odit! Non nemo, laudantium ipsam. Enim ipsa deleniti molestiae beatae et in provident vero similique harum expedita reiciendis, tempora corrupti maiores animi, assumenda quae? Ab illo pariatur obcaecati rem voluptate ex vel, delectus, non! Deleniti reprehenderit quisquam voluptatem cupiditate labore a odit cum nobis esse placeat porro quia repellat sint, in, dolor molestiae. Ipsum similique eligendi quod aut magni ex laboriosam possimus porro ut pariatur, molestias omnis, est, odit voluptate dicta dolorem reprehenderit.
