doctype html
html(lang="en")
    head
        title CLUE
        link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        link(rel='stylesheet', href='http://cmap.github.io/barista/barista.main.min.css')
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css")
        link(href="http://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet" type="text/css")
        style .splash_text1, .splash_text2{color: #383838;text-align: center;opacity:1;}.splash_text1{font-weight: 300;font-family: 'Open Sans', Arial, sans-serif;font-size: 3.272405em}.splash_text2{font-weight: 300;font-family: 'Roboto Slab', Arial, sans-serif;font-size: 1.25em;}

        script(src='http://localhost:35729/livereload.js')
    body
        .cmap-spacer-medium
        .container
            .row
                p.col-xs-offset-1.col-xs-10.hidden-xs.splash_text1 Connectivity Map data and tools
                p.col-xs-offset-1.col-xs-10.hidden-xs.splash_text2 The Broad Institute's clue.io platform provides access to Connectivity Map data and tools. Explore results from more than 1.4 million genome-expression profiles. clue.io enables subscribers to integrate their proprietary data with Connectivity Map signatures in a private compute environment and generate novel research hypotheses.
            .row
                .cmap-spacer-large
                p.col-xs-offset-1.col-xs-10.hidden-xs.splash_text2 Interested? Get in touch with us at <a href="mailto:clue@broadinstitute.org">clue@broadinstitute.org</a>
